In [ ]:
import pandas as pd

# read data from csv files
ratings = pd.read_csv('/home/canhdx/workspace/movie-recommender-system/data/ratings.csv')
movies = pd.read_csv('/home/canhdx/workspace/movie-recommender-system/data/movies.csv')

# get year from movie name
movies['Year'] = movies['title'].str.extract(r'\((\d{4})\)')
movies['Movie_Name'] = movies['title'].str.replace(r'\(\d{4}\)', '', regex=True).str.strip()

# merge two dataframes
merged_df = pd.merge(ratings, movies, on='movieId', how='inner')

# sort by userId and rating
final_df = merged_df[['userId', 'Movie_Name', 'rating', 'genres', 'Year', 'movieId']]

print(final_df.head())

   userId                                         Movie_Name  rating  \
0       1                                            Jumanji     3.5
1       1  City of Lost Children, The (Cité des enfants p...     3.5
2       1                 Twelve Monkeys (a.k.a. 12 Monkeys)     3.5
3       1                               Seven (a.k.a. Se7en)     3.5
4       1                                Usual Suspects, The     3.5

                                   genres  Year  movieId
0              Adventure|Children|Fantasy  1995        2
1  Adventure|Drama|Fantasy|Mystery|Sci-Fi  1995       29
2                 Mystery|Sci-Fi|Thriller  1995       32
3                        Mystery|Thriller  1995       47
4                  Crime|Mystery|Thriller  1995       50

In [9]:
final_df

,userId,Movie_Name,rating,genres,Year,movieId
0,1,Jumanji,3.5,Adventure|Children|Fantasy,1995,2
1,1,"City of Lost Children, The (Cité des enfants p...",3.5,Adventure|Drama|Fantasy|Mystery|Sci-Fi,1995,29
2,1,Twelve Monkeys (a.k.a. 12 Monkeys),3.5,Mystery|Sci-Fi|Thriller,1995,32
3,1,Seven (a.k.a. Se7en),3.5,Mystery|Thriller,1995,47
4,1,"Usual Suspects, The",3.5,Crime|Mystery|Thriller,1995,50
...,...,...,...,...,...,...
20000258,138493,Up,4.5,Adventure|Animation|Children|Drama,2009,68954
20000259,138493,Transformers: Revenge of the Fallen,4.5,Action|Adventure|Sci-Fi|IMAX,2009,69526
20000260,138493,Ice Age: Dawn of the Dinosaurs,3.0,Action|Adventure|Animation|Children|Comedy|Rom...,2009,69644
20000261,138493,District 9,5.0,Mystery|Sci-Fi|Thriller,2009,70286
20000262,138493,Coco Before Chanel (Coco avant Chanel),2.5,Drama,2009,71619

In [10]:
final_df = final_df.rename(columns={'userId': 'User_Id', 'Movie_Name': 'Movie_Name', 'rating': 'Rating', 'genres': 'Genre', 'Year': 'Year', 'movieId': 'Movie_Id'})

In [11]:
final_df

,User_Id,Movie_Name,Rating,Genre,Year,Movie_Id
0,1,Jumanji,3.5,Adventure|Children|Fantasy,1995,2
1,1,"City of Lost Children, The (Cité des enfants p...",3.5,Adventure|Drama|Fantasy|Mystery|Sci-Fi,1995,29
2,1,Twelve Monkeys (a.k.a. 12 Monkeys),3.5,Mystery|Sci-Fi|Thriller,1995,32
3,1,Seven (a.k.a. Se7en),3.5,Mystery|Thriller,1995,47
4,1,"Usual Suspects, The",3.5,Crime|Mystery|Thriller,1995,50
...,...,...,...,...,...,...
20000258,138493,Up,4.5,Adventure|Animation|Children|Drama,2009,68954
20000259,138493,Transformers: Revenge of the Fallen,4.5,Action|Adventure|Sci-Fi|IMAX,2009,69526
20000260,138493,Ice Age: Dawn of the Dinosaurs,3.0,Action|Adventure|Animation|Children|Comedy|Rom...,2009,69644
20000261,138493,District 9,5.0,Mystery|Sci-Fi|Thriller,2009,70286
20000262,138493,Coco Before Chanel (Coco avant Chanel),2.5,Drama,2009,71619

In [12]:
final_df.to_csv('merged_movielens.csv', index=False)